// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
//HAL_BOARD=HAL_BOARD_PX4 HAL_BOARD_SUBTYPE= TOOLCHAIN=NATIVE EXTRAFLAGS=-DGIT_VERSION="36bb9e08" -DNUTTX_GIT_VERSION="ff60694f" -DPX4_GIT_VERSION="531bc4fd" -DUAVCAN=1
#define __QT_CREATOR__
#define MAVLINK_USE_CONVENIENCE_FUNCTIONS
#define HAL_BOARD=HAL_BOARD_PX4
#define HAL_BOARD_SUBTYPE
#define TOOLCHAIN=NATIVE
#define GIT_VERSION="36bb9e08"
#define NUTTX_GIT_VERSION="ff60694f"
#define PX4_GIT_VERSION="531bc4fd"
#define UAVCAN=1
#define __GNUC__

