// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define HAL_CPU_CLASS 168
// HAL_BOARD_PX4
#define CONFIG_HAL_BOARD HAL_BOARD_PX4
#define TOOLCHAIN NATIVE
#define HAL_BOARD_SUBTYPE
#define GIT_VERSION "36bb9e08"
#define NUTTX_GIT_VERSION "ff60694f"
#define PX4_GIT_VERSION "531bc4fd"
#define UAVCAN 1
